service-stubs/webapp-mgt/org.wso2.carbon.jndi.resource.stub/src/main/resources/JNDIResourceConfigurationAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2461="http://data.mgt.resource.jndi.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://services.mgt.resource.jndi.carbon.wso2.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.mgt.resource.jndi.carbon.wso2.org">
    <wsdl:documentation>JNDIResourceConfigurationAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2462="http://data.mgt.resource.jndi.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://data.mgt.resource.jndi.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="removeJNDIResource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resource" nillable="true" type="ax2462:Resource"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllResources">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllResourcesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2462:Resource"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addJNDIResource">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="resource" nillable="true" type="ax2462:Resource"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.mgt.resource.jndi.carbon.wso2.org/xsd">
            <xs:complexType name="Resource">
                <xs:sequence>
                    <xs:element minOccurs="0" name="auth" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="factory" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="physicalName" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addJNDIResourceRequest">
        <wsdl:part name="parameters" element="ns1:addJNDIResource"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeJNDIResourceRequest">
        <wsdl:part name="parameters" element="ns1:removeJNDIResource"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllResourcesRequest">
        <wsdl:part name="parameters" element="ns1:getAllResources"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllResourcesResponse">
        <wsdl:part name="parameters" element="ns1:getAllResourcesResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="JNDIResourceConfigurationAdminPortType">
        <wsdl:operation name="addJNDIResource">
            <wsdl:input message="tns:addJNDIResourceRequest" wsaw:Action="urn:addJNDIResource"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeJNDIResource">
            <wsdl:input message="tns:removeJNDIResourceRequest" wsaw:Action="urn:removeJNDIResource"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllResources">
            <wsdl:input message="tns:getAllResourcesRequest" wsaw:Action="urn:getAllResources"></wsdl:input>
            <wsdl:output message="tns:getAllResourcesResponse" wsaw:Action="urn:getAllResourcesResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JNDIResourceConfigurationAdminSoap11Binding" type="tns:JNDIResourceConfigurationAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="addJNDIResource">
            <soap:operation soapAction="urn:addJNDIResource" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeJNDIResource">
            <soap:operation soapAction="urn:removeJNDIResource" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllResources">
            <soap:operation soapAction="urn:getAllResources" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JNDIResourceConfigurationAdminSoap12Binding" type="tns:JNDIResourceConfigurationAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="addJNDIResource">
            <soap12:operation soapAction="urn:addJNDIResource" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeJNDIResource">
            <soap12:operation soapAction="urn:removeJNDIResource" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllResources">
            <soap12:operation soapAction="urn:getAllResources" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JNDIResourceConfigurationAdminHttpBinding" type="tns:JNDIResourceConfigurationAdminPortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="addJNDIResource">
            <http:operation location="addJNDIResource"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeJNDIResource">
            <http:operation location="removeJNDIResource"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllResources">
            <http:operation location="getAllResources"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JNDIResourceConfigurationAdmin">
        <wsdl:port name="JNDIResourceConfigurationAdminHttpsSoap11Endpoint" binding="tns:JNDIResourceConfigurationAdminSoap11Binding">
            <soap:address location="https://10.100.5.118:9443/services/JNDIResourceConfigurationAdmin.JNDIResourceConfigurationAdminHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="JNDIResourceConfigurationAdminHttpsSoap12Endpoint" binding="tns:JNDIResourceConfigurationAdminSoap12Binding">
            <soap12:address location="https://10.100.5.118:9443/services/JNDIResourceConfigurationAdmin.JNDIResourceConfigurationAdminHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="JNDIResourceConfigurationAdminHttpsEndpoint" binding="tns:JNDIResourceConfigurationAdminHttpBinding">
            <http:address location="https://10.100.5.118:9443/services/JNDIResourceConfigurationAdmin.JNDIResourceConfigurationAdminHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>